nav ul{
    display: flex;
    width: fit-content;
    background: rgba(145, 255, 141, 0.444);
    padding: 0%;
}
nav ul li {
    list-style-type: none;
    padding: 8px 12px;
}
nav ul li:hover{
    background-color: #faebd7;
}
nav ul li a{
    text-decoration: none;
}