nav>ul{
    display: flex;
    
    
}
ul li{
    width: fit-content;
    background: rgba(145, 255, 141, 0.444);
    padding: 0%;
}
nav ul li {
    list-style-type: none;
    padding: 8px 12px;
}
nav ul li:hover{
    background-color: #faebd7;
}
nav ul li a{
    text-decoration: none;
}

/* css for dropdown nav  */

nav>ul>li>ul{
    position: absolute;
}
nav ul li ul li{
    display: none;
    margin-left:-52px;
}
nav ul li:hover ul li{
    display: block;
    
}